{% extends "index.html" %}
{% block content %}
    <section class="box-intro">
        <div class="table-cell text-center" >
            <h2>{{ user.name }}님의 {{ object.partner_year }}년 {{ object.partner_semester }}학기 짝지 현황.</h2>
            <br>
            <h4>{{ now|date }}까지 짝지 점수</h4>
            <h1>{{ object.score }}</h1>
            <br>
            <h1>위짝지</h1>
            <br>
            <h4>{{ object.old_partner.user.get_department_display }}&ensp;{{ object.old_partner.user.name }} </h4>
            <h4>&ensp;전화번호: {{ object.old_partner.user.phone }} </h4>
            <br>
            <h1>아래짝지</h1>
            <br>
            <h4>
                {% for newmember in new_partners %}
                    {{ newmember.get_department_display }}&ensp;
                    {{ newmember.name }}&ensp;
                    {{ newmember.phone}}&ensp;
                    <p></p>
                {% endfor %}
            </h4>
            <br>
        </div>
    </section>
{% endblock %}