{% extends "index.html" %}
{%  load crispy_forms_tags %}
{% block content %}
    <section id="user-update" class="contact mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted">
        <div class="container">
            <div class="text-center">
                <h1>회원정보 수정</h1>
            </div>
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <input type="submit" class="btn btn-default" value="제출"/>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}